<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>Pizza NYC</title>
  </head>
  <body>
    <h1>Pizza NYC</h1>
    <h2>Best Pizza you will ever code</h2>

    <form method=post>
        <p>Name: <input type="text" name="name"/></p>
        <p>Address: <input type="text" name="address"/></p>
        <p>Phone Number: <input type="text" name="phone"/></p>
        <p>Crust: <input type="text" name="crust" align="left"/></p>
        <p>Size: <input type="text" name="size" align="left"/></p>
        <p>Sauce: <input type="text" name="sauce" align="left"/></p>
        <p>Cheese: <input type="text" name="cheese" align="left"/></p>
        <p>Topings: <input type="text" name="topings"/ align="left"></p>
        <button type="submit">Place Order</button>
    </form>
  </body>
</html>
